<mat-form-field id="imageUploader">
  <div>
    <mat-toolbar>
      <input matInput [(ngModel)]="fileName" readonly name="name" />
      <button id="uploadButton" mat-flat-button color="primary">Upload <br>your photo</button>
    </mat-toolbar>
    <input type="file" #fileInput id="uploadFile" (change)="uploadProfilePicture($event)" name="uploadFile"
      accept="image/*" />
  </div>
</mat-form-field>

<div class="vertical-line"></div>
<div class="image-line">{{fileName}}</div>

<mat-card id="card" style="text-align: center;">
  <mat-card-content>
    <div [formGroup]="register_form">
      Name <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="register_form.controls['firstName'].errors?.required">{{printErrorMessage()}}</mat-error>
        <mat-error *ngIf="register_form.controls['firstName'].errors?.pattern">First Name should only have alphabets and
          less than 20 characters
        </mat-error>
      </mat-form-field> .

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="register_form.controls['lastName']?.invalid">{{printErrorMessage()}}</mat-error>
      </mat-form-field><br/>
    Age <mat-slider #slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="13" max="60" color="primary"
        formControlName="ageName">
      </mat-slider><br/>
      <mat-label id="ageBand">13-19 . 20-29 . 30-45 . 45 & Above</mat-label><br/>

    Email <mat-form-field appearance="fill">
        <input matInput placeholder="email" formControlName="email" required>
        <mat-error *ngIf="register_form.controls['email']?.invalid">{{emailErrorMessage()}}</mat-error>
      </mat-form-field><br/>

    Tel <mat-form-field>
        <input matInput placeholder="Phone number" formControlName="mobileNumber" required>
        <mat-error *ngIf="register_form.controls['mobileNumber'].errors?.required">{{printErrorMessage()}}</mat-error>
        <mat-error *ngIf="register_form.controls['mobileNumber'].errors?.pattern">Please enter 10 digit Phone Number.
        </mat-error>
      </mat-form-field><br/>

    State <mat-form-field>
        <mat-select formControlName="stateName" required>
          <mat-option *ngFor="let state of states" [value]="state.value" formControlName="stateName">
            {{state.viewValue}} </mat-option>
        </mat-select>
        <mat-error *ngIf="register_form.controls['stateName']?.invalid">{{printErrorMessage()}}</mat-error>
      </mat-form-field><br/>

    Country <mat-form-field>
        <mat-select formControlName="countryName" required>
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.viewValue}} </mat-option>
        </mat-select>
        <mat-error *ngIf="register_form.controls['countryName']?.invalid">{{printErrorMessage()}}</mat-error>
      </mat-form-field><br/>

    Address <mat-form-field>
        <input matInput placeholder="address">
      </mat-form-field><br/>

    Interests <mat-form-field>
        <input matInput placeholder="interests" formControlName="hobbyName" >
      </mat-form-field><br/>

      <mat-checkbox class="example-margin" color="primary" [ngModel]="isChecked" (change)="isChecked = !isChecked">
        Subscribe to the news letter </mat-checkbox>

      <button mat-raised-button class="submit-button" color="primary"
  (click)="submitUser('detail')">Submit</button>
    </div>
  </mat-card-content>