<mat-card id="card" style="text-align: center;">
  <mat-card-content>
    Name <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name">
    </mat-form-field><br/>
    Age <mat-form-field>
      <input matInput placeholder="age">
    </mat-form-field><br/>
    Email <mat-form-field>
      <input matInput placeholder="email">
    </mat-form-field><br/>
    Tel <mat-form-field>
      <input matInput placeholder="phone number">
    </mat-form-field><br/>
    State <mat-form-field>
      <input matInput placeholder="state">
    </mat-form-field><br/>
    Country <mat-form-field>
      <input matInput placeholder="county">
    </mat-form-field><br/>
    Address <mat-form-field>
      <input matInput placeholder="address">
    </mat-form-field><br/>
    Interests <mat-form-field>
      <input matInput placeholder="interests">
    </mat-form-field><br/>
    <button mat-raised-button color="primary" style="margin-right:5px;">Submit</button>

  </mat-card-content>